/*much of the following code was from: http://codepen.io/jamespauloconnor/*/
#square {
  width: 200px;
  height: 20px;
  border: 5px solid green;
  border-radius: 0px;
  position: absolute;
  margin: 20px 0px 0px 400px;
}

#circle {
  width: 20px;
  height: 20px;
  border: 5px solid red;
  border-radius: 100%;
  position: absolute;
  margin: 20px 0px 0px 20px;
} 


.topeye{
  width:15px;
  height:15px;
  border:solid 1px black;
  border-radius:100%;
  z-index: 1;
  position:relative;
  left:250px;
  top: 100px;
  background-color:black;
}
.lefteye{
  width:15px;
  height:15px;
  border:solid 1px black;
  border-radius:100%;
  z-index: 1;
  position:relative;
  left:250px;
  top: 100px;
  background-color:black;
}

.scaredeye-1{
  width:30px;
  height:30px;
  border:solid 1px black;
  border-radius:100%;
  z-index: 1;
  position:relative;
  left:340px;
  top: 175px;
  background-color:black;
}
#inner-left{
  width:2px;
  height:2px; 
  border:solid 1px white;
  border-radius:3px;
  z-index:1;
  position:relative;
  left:8px;
  top:6px;
  background-color:white
}

.eyeBrow{
  height: 3px;
  width: 9px;
  background-color:black;
  position:relative;
  right:15px;
  bottom:0px;
}

/*found this answer from: Harisankaran Parameswaran, @hari_shanx, in stackoverflow*/
.crossed-1 { 
  height: 25px;
  width: 0px;
  border-bottom: 2px solid black;
  border-right: 5px solid black;
  -moz-transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
  position:relative; 
  bottom:6px;
  right:15px;
 }

.mouth{
  width:30px;
  height:10px; 
  border:solid 1px black;
  border-radius:45px 45px 45px 45px; /*Adjust this to change expression*/
  margin:16px;
  position:relative;
  top:8em;
  left:15em;
  background-color:black;
}
.tongue{
  width:19px;
  height:25px;
  top:5px;
  left:10px;
  background-color:#FF7777;
  border-radius:2px;
  color:#FFFFFF;
  position:relative;
}